.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 400px 20px;
  grid-gap: 10px;
}

.navbar-container {
  grid-column: 1 / 3;
  grid-row: 1;
  width: auto;
  margin-bottom: 30px;
}
.navbar {
    list-style-type: none;
    margin: 10;
    padding: 0;
    justify-content: center;
    display: inline-block;
}

.navlink-left {
  float: left;
  padding: 14px 16px;
  text-align: center;
  font-weight: 26px;
}

#leftlink {
  margin-right: 700px;
}

.navlink-right {
  float: right;
  padding: 14px 16px;
  text-align: center;
  font-weight: 26px;
}

.main-center {
  grid-column: 1 / 4;
  grid-row: 2;
}

.searchbox {
  text-align: center;
  margin-top: 30px;
}

.bottom-nav {
  grid-column: 1 / 4;
  grid-row: 3;
}

.bottom-navlink-left {
  display: inline-block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  font-weight: 26px;
}
.bottom-navbar-container {
  background-color: gray;
}

.bottom-navlink-right {
  float: right;
  padding: 14px 16px;
  text-align: center;
  font-weight: 26px;
  background-color: gray;
}

#googleimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

#searchform {
  width: 700px;
  height: 30px;
}
